p{
  color: rgb(255, 55, 255) /* white */
  color: rgb(255, 55, 255,.5) /* white with 50% opacity */
  color: rgba(255, 55, 255,.5) /* white with 50% opacity */
  color: rgba(255, 55, 255  ,  0.5) /* white with 50% opacity */
  color: rgba(255, 55, 255  /  0.5) /* white with 50% opacity */
  color: rgb(255 55 255) /* CSS Colors 4 space-separated values */
  color: rgb(255 55 255 / .5); /* white with 50% opacity, using CSS Colors 4 space-separated values */
  color: rgba(255 55 255 / .5); /* white with 50% opacity, using CSS Colors 4 space-separated values */
  color: hwb(194 0% 0%) /* #00c3ff */
  color: hwb(194 0% 0% / .5) /* #00c3ff with 50% opacity */
  color: lab(29.2345% 39.3825 20.0664);
  color: lab(52.2345% 40.1645 59.9971);
  color: lab(52.2345% 40.1645 59.9971 / .5);
  color: lch(29.2345% 44.2 27);
  color: lch(52.2345% 72.2 56.2);
  color: lch(52.2345% 72.2 56.2 / .5);
}
