H1 {
  font-size: 24pt;
  font-family: arial;
  azimuth: behind;
}
H2 {
  font-size: 18pt;
  font-family: arial
}
H3 {
  font-size: 14pt;
  font-family: arial;
  font-size: 10px; background: no-repeat none no-repeat url(http://www.com/~/bg.jpg?test=a&test2=b) ;
  border-bottom: #000000;
  border-bottom-color: #000000
}